.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 33px; */
  color: #fff;
  height: 100%;
  width: 300px;
}

.mobileContainer{
  display: none;
}

.title {
  color: #fff;
  font-family: Open Sans;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 10px;
  /* margin-top: 30px; */
  width: 100%;
}

.paragraph {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  width: 100%;
  display: none;
}



@media screen and (max-width:769px){
  .container {
    width: 400px;
  }
  
  .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 50px;
  }


}



@media screen and (max-width:577px){
  .container {
    width: 350px;
  }
  .title{
    margin-top: 60px;
  }
}


@media screen and (max-width:485px){
  .container {
    width: 300px;
  }

  .paragraph {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
  }

}


@media screen and (max-width:485px){
  .container {
    width: 250px;
  }

}
