.text{
    color: #DAA520;

font-family: Open Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 118.75% */
display: inline-block;
position: relative;
margin-bottom: -20px;
}

.text::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 3px;
    left: 0%;
    background-color: #DAA520;
}
