.item{
   margin-top: 60px;  
}

.item h4{

font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px;
}


.item span{
    color: #FFF;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}