/* .container {
    text-align: start;
}

.container .title {
  color: #e1e8ee;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.container .item {
  color: #e1e8ee;
  margin-top: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
} */
