.searchContainer {
  display: flex;
  /* width: 100px; */
  height: 50px;
  /* align-items: center; */
  gap: 6px;
  margin-left: 9px;
  position: relative;
}

.searchContainer input {
  border-radius: 30px;
  border: 1px solid #9c9c9c;
  width: auto;
  height: 100%;
  outline: none;
  padding-left: 40px;
}
.searchContainer input::placeholder {
  color: #4f4f4f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.searchIconContainer {
  position: absolute;
  top: 12px;
  left: 10px;
}

.cancelIconContainer{
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
} 
